<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Ionic Datetime </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedMode" scrollable>
      <ion-segment-button [value]="mode" *ngFor="let mode of modes">
        <ion-label>{{mode}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item (click)="showPicker = !showPicker"> </ion-item>
  <ion-datetime [presentation]="selectedMode"></ion-datetime>
</ion-content>
